QMainWindow {
    border-image: url(":/new/prefix1/img/main.png") no-repeat center;
    font-size: 16px;
    color: White;
}

QTableWidget, QComboBox, QTableView, QToolBar {
    border: 4px solid Tan;
    border-radius: 3px;
    background-color: Beige;
    font-size: 16px;
    color: SaddleBrown;
}
QToolButton {
    border: 4px solid Tan;
    border-radius: 3px;
    background-color: Beige;
    font-size: 16px;
    color: SaddleBrown;
}
QToolButton:hover {
    background-color: SaddleBrown;
    color: Beige;
}
QGroupBox {
    font-size: 16px;
    color: CornSilk;
}
